.container {
    padding: 0;
    outline: 1px solid green;
}




/*Header*/

header {
    background: url("../images/bg-header.png") center center;
    background-size: cover;
    color: #fff;
}

.logo {
    text-transform: uppercase;
    margin-top: 9px;
    display: inline-block;
    font-size: 21px;
    line-height: 36px;
}

.navbar-collapse {
    float: right;
    font-size: 15px;
    line-height: 36px;
}

.icon-bar {
    background-color: #fff;
}

.header-header:after {
    content: "";
    clear: both;
    display: table;
}

.header-header {
    margin-bottom: 15%;
}

.header-info h1, .header-info p {
    margin: 0;
    padding-bottom: 20px;
}

.header-buttons {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15%;
}

/*Header*/




.mac-img {
    background: #f7f8fa;
}

.mac-img h3 {
    margin: 0;
    padding: 5% 0 10px;
}

.mac-img img {
    float: right;
    width: 60%;
    margin-top: -10%;
}

.mac-img p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15%;
}





/*Фичи*/

.features {
    background: #fff;
    text-align: center;
}

.features h2 {
    margin: 0;
    padding: 60px 0 30px;
}

.features h4 {
    margin: 0;
    margin-bottom: 40px;
}

.features-item {
    text-align: center;
    min-height: 300px;
    padding: 140px 5px 50px;
    max-width: 240px;
    margin: auto;

    font-size: 14px;
    line-height: 24px;
}

.features-item-1 {
    background: url("../images/bg-features-1.png") no-repeat center top;
}

.features-item-2 {
    background: url("../images/bg-features-2.png") no-repeat center top;
}

.features-item-3 {
    background: url("../images/bg-features-3.png") no-repeat center top;
}

.features-item-4 {
    background: url("../images/bg-features-4.png") no-repeat center top;
}


/*Фичи*/



/*Слайдер*/

.comments h2 {
    padding: 5% 0;
}

.comment {
    width: 300px;
    margin: 0 auto 20px;
}

.comment-teller {
    text-align: left;
    padding-left: 10px;
}

.comment-teller-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d2dce0;
}

.carousel-inner .row {
    margin-bottom: 6%;
}

.comments {
    background: #f7f8fa;
    text-align: center;
}

.comment-item {
    width: 280px;
    margin: auto;
    min-height: 120px;
    padding: 20px 10px;

    font-size: 13px;
    line-height: 18px;

    background: url("../images/bg-comment.png") no-repeat center center;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border: 4px solid #2095bc;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    background: #2095bc;
}

.teller {
    color: green;
}

/*Слайдер*/




.try-it-free {
    background: #2095bc;
    text-align: center;
}

.try-it-free h2 {
    margin: 0;
    color: #fff;
    padding: 4% 0 2%;
}

.try-it-free h4{
    margin: 0;
    color: #90cade;
    padding-bottom: 4%;
}

.try-it-free a {
    margin-bottom: 8%;
}



/*Футер*/

.main-footer {
    background: #3e434a;
}

.footer-columns {
    border-bottom: 1px solid #51565d;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.footer-columns ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-columns a{
    text-decoration: none;
    color: #83888f;
}

.footer-columns a:hover {
    color: #fff;
}

.footer-column-1 h6 ,
.footer-column-2 h6 {
    margin: 30px 0;
}

.footer-column-3 h6{
    margin: 30px 0;
}

.footer-column-4 h6{
    margin: 30px 0;
}

.copyright {
    display: block;
    color: #a5abb2;
    margin-bottom: 20px;
}


/*Футер*/



/*Кнопки*/
.btn.header-btn{
    color: #fff;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
}

.btn-info {
    background: #2095bc;
    margin-right: 10px;
}

.btn.btn-free-trial{
    color: #fff;
    border-radius: 5px;
    border: 1px solid white;
}

.footer-btn {
    background: #50555d;
    color: #bbc1c8;
    border: none;
}

.footer-btn:active {
    border: none;
}

.btn.btn-link:active {
    opacity: 0.65;
}
/*Кнопки*/




/*Оформление текста*/
body {
    font-family: "Helvetica";
    font-size: 10px;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

h4 {
    color: #868b95;
    font-size: 21px;
    line-height: 24px;
}

h5 {
    font-size: 17px;
    line-height: 27px;
}

p {
    color: #868b95;
}

.header-info p {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
}

.navbar-collapse a {
    color: #fff;
}

.navbar-collapse a:hover {
    color: #111;
}

.try-it-free h2 {
    color: #fff;
}

.try-it-free h4{
    color: #90cade;
}

.footer-columns h6 {
    color: #d0d6dd;
    font-size: 13px;
    line-height: 13px;
}

.footer-columns {
    font-size: 13px;
    line-height: 27px;
}

/*Оформление текста*/